{
    "class": "ADC",
    "updateMode": "selective",
    "schemaVersion": "3.46.0",
    "id": "declarationId",
    "label": "theDeclaration",
    "remark": "All properties declaration",
    "controls": {
        "class": "Controls",
        "logLevel": "error",
        "trace": true,
        "archiveId": "",
        "archiveTimestamp": "2018-12-10T19:23:45Z"
    },
    "TEST_CA_Bundle_6": {
        "class": "Tenant",
        "Application": {
            "class": "Application",
            "test.item-foo.shq1": {
                "class": "CA_Bundle",
                "bundle": "{{ Bundle }}"
            }
        }
    },
    "Common": {
        "class": "Tenant",
        "Shared": {
            "class": "Application",
            "template": "shared",
            "test.port.list": {
                "class": "Net_Port_List",
                "remark": "description",
                "ports": [
                    80,
                    443,
                    "8080-8088"
                ],
                "portLists": [
                    {
                        "use": "portList"
                    }
                ]
            },
            "portList": {
                "class": "Net_Port_List",
                "ports": [
                    "1-999"
                ]
            },
	    "tlsserver_local_cert": {
                "class": "Certificate",
                "remark": "replace these with real certificates and keys",
                "certificate": "{{ Certificate }}",
                "privateKey": "{{ Key }}"
            },
            "tlsclient_local_cert": {
                "class": "Certificate",
                "remark": "replace these with real certificates and keys",
                "certificate": "{{ Certificate }}",
                "privateKey": "{{ Key }}"
            },
            "TlsClient_Local": {
                "class": "TLS_Client",
                "label": "simplest decl requires just cert",
                "clientCertificate": "/Common/Shared/tlsclient_local_cert"
            },
            "TlsServer_Local": {
                "class": "TLS_Server",
                "label": "simplest decl requires just cert",
                "certificates": [
                    {
                        "certificate": "/Common/Shared/tlsserver_local_cert"
                    }
                ]
            },
            "poolRoundRobin": {
                "class": "Pool",
                "loadBalancingMode": "round-robin",
                "monitors": [
                    "https"
                ],
                "members": [
                    {
                        "servicePort": 443,
                        "serverAddresses": [
                            "198.19.192.58",
                            "198.19.192.59",
                            "198.19.192.60"
                        ]
                    }
                ]
            }
        }
    }
}
